<?xml version="1.0"?>
<launch>
	<rosparam ns="beer_test" command="load" file="$(find zeabus_vision_balldetector)/params/color_top1.yaml">
	</rosparam>
	<rosparam ns="beer_test" command="load" file="$(find zeabus_vision_balldetector)/params/color_top2.yaml">
	</rosparam>
	<rosparam ns="beer_test" command="load" file="$(find zeabus_vision_balldetector)/params/color_top3.yaml">
	</rosparam>
	<rosparam ns="beer_test" command="load" file="$(find zeabus_vision_balldetector)/params/color_top4.yaml">
	</rosparam>
	<node pkg="zeabus_vision_balldetector" name="beer_test_top" type="beer_test_top.py">
		<param name="topic_top" value='/leftcam_top/image_raw/compressed'/>
	</node>
</launch>